<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BYSJ</display-name>

	<!--  -->
	<filter>
	    <filter-name>SessionLoginFilter</filter-name>
	    <filter-class>com.stx.filter.LoginFilter</filter-class>
	    <init-param>
	        <param-name>disAuth</param-name>
	        <param-value>/js/easyform.js;/css/style-regist.css;/css/base.css;/css/styles.css;/merchant/merchant_login.action;/merchant/merchant_doLogin.action;/merchant/merchant_register.action;/merchant/merchant_doRegist.action;/merchant/merchant_logout.action;/static/bootstrap/css/bootstrap.min.css;/static/css/base.css;/js/jquery-2.2.2.min.js;/bootstrap/js/bootstrap.min.js;/user/user_doLogin.action;/user/user_register.action;/user/user_doRegist.action;/user/user_login.action;/bootstrap/css/bootstrap.min.css;/admin/admin_login.action;/admin/admin_doLogin.action;/bootstrap/css/bootstrap-datetimepicker.min.css;/bootstrap/js/bootstrap-datetimepicker.min.js;/bootstrap/js/bootstrap-datetimepicker.zh-CN.js;/admin/admin_logout.action</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>SessionLoginFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping> 
	
	
	<!-- 配置Spring的核心监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 全局参数 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- 配置Struts2的核心过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<!-- 请求和转发都执行过滤器 -->
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- hibernate配置
	<filter>
		<filter-name>SpringOpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SpringOpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<!-- session失效时间 -->
	<!-- <session-config> <session-timeout>30</session-timeout> </session-config>  -->

	<!-- 配置首页 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>